@use "src/app/variables" as *;

.medlemscards_section {
  display: grid;
  place-content: center;
  padding-top: 80px;
  padding-bottom: 80px;

  // .title {
  //   padding-top: $spacing-12;
  //   padding-left: $spacing-16;
  //   font-size: $spacing-20;
  // }
}

@media (min-width: 768px) {
  .medlemscards_section {
    display: flex;
  }
}
