@use "src/app/variables" as *;

.medlems_Link {
  font-family: "Raleway";
  font-weight: 300;
  color: $white;
  font-size: 24px;
  line-height: 250%;
  &:hover {
    text-decoration: underline;
  }
}

.medlems_card {
  height: 250px;
  width: 250px;
  // background-color: $off-black400;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: $border-radius;
  display: flex;
  // place-content: center;
  // align-items: end;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  filter: grayscale(100%);
  &:hover {
    filter: grayscale(0%);
  }
}
.overlay {
  display: flex;
  place-content: center;
  align-items: end;
  border-radius: $border-radius;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.703), rgba(255, 0, 0, 0));
}

.medlems_image1 {
  background-image: url("../../img/medlemskab/image1.png");
  height: 250px;
  width: 250px;
  background-size: contain;
}
.medlems_image2 {
  background-image: url("../../img/medlemskab/image2.png");
  height: 250px;
  width: 250px;
  background-size: contain;
}
.medlems_image3 {
  background-image: url("../../img/medlemskab/image3.png");
  height: 250px;
  width: 250px;
  background-size: contain;
}

@media (min-width: 768px) {
  // .medlems_image {
  // }

  .medlems_card {
    height: 400px;
    width: 400px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .Medlems_Link {
    line-height: 400%;
  }
  // .medlems_image1 {
  //   background-image: url("../../img/medlemskab/image1.png");
  //   height: 400px;
  //   width: 400px;
  // }
  // .medlems_image2 {
  //   background-image: url("../../img/medlemskab/image2.png");
  //   height: 400px;
  //   width: 400px;
  // }
  // .medlems_image3 {
  //   background-image: url("../../img/medlemskab/image3.png");
  //   height: 400px;
  //   width: 400px;
  // }
}
