@use "src/app/variables" as *;

.Medlems_Link {
  font-family: "Raleway";
  font-weight: 300;
  color: $white;
  font-size: 24px;
  padding-bottom: 24px;
  &:hover {
    text-decoration: underline;
  }
}

.medlems_image {
  height: 250px;
  width: 250px;
  background-color: $off-black400;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: $border-radius;
  display: flex;
  place-content: center;
  align-items: end;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  filter: grayscale(100%);
}

@media (min-width: 768px) {
  .medlems_image {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 12px;
    margin-right: 12px;
  }
}
