@use "src/app/variables" as *;

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px 0 16px;
  width: auto;
  height: $spacing-80;

  .input {
    position: absolute;
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: $white;
    border: solid $border-width $off-black400;
    color: $black;

    &:hover,
    &:checked,
    &:focus {
      background-color: $off-black400;
      border: none;
      outline: none;
      color: $white;

      + .label {
        color: $white;

        .grey_text {
          color: $grey300;
        }
      }
    }
  }

  .label {
    position: absolute;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    width: 100%;

    font-family: $poppins-font;
    font-size: $spacing-12;
    font-weight: $font-regular;
    line-height: $line-height-m;

    span:nth-of-type(1),
    span:nth-of-type(3) {
      width: fit-content;
      justify-self: start;
      padding: $spacing-4 0 $spacing-4 $spacing-8;
    }
    span:nth-of-type(2),
    span:nth-of-type(4) {
      width: fit-content;
      justify-self: end;
      padding: $spacing-4 $spacing-8 $spacing-4 0;
    }
    .grey_text {
      color: $grey400;
    }
  }
}

@media (min-width: 768px) {
  .container {
    width: 150px;
    height: 190px;

    .label {
      font-size: $spacing-16;
    }
  }
}
