@use "src/app/variables" as *;

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $spacing-48;
  height: $spacing-80;

  .input {
    position: absolute;
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: $white;
    border: solid $border-width $off-black400;
    color: $black;

    &:hover,
    &:checked,
    &:focus {
      background-color: $off-black400;
      border: none;
      outline: none;
    }

    &:hover + .label,
    &:checked + .label,
    &:focus + .label {
      color: $white;
    }
  }

  .label {
    position: absolute;
    font-family: $poppins-font;
    font-size: $spacing-16;
    font-weight: $font-regular;
    line-height: $line-height-m;
    text-transform: uppercase;
  }

  .desk_text {
    display: none; //skjuler desktop teksten i mobileview
  }

  .mobile_text {
    display: inline;
  }
}

@media (min-width: 768px) {
  .container {
    width: 150px;
    height: 190px;

    .desk_text {
      display: inline;
    }
    .mobile_text {
      display: none; //skjuler mobil teksten i desktopview
    }
  }
}
