@use "src/app/variables" as *;

.footer_link {
  color: $white;
  text-decoration: underline;
  text-transform: none;
  font-family: $raleway-font;
  font-size: 16px;
  &:hover {
    color: $brand-color400;
  }
}
