$brand-color400: #bfd1bd;
$olive-400: #92a090;
$white: #ffffff;
$black: #000000;
$off-black400: #373837;
$grey200: #d5d4d5;
$grey300: #aaa9ab;
$grey400: #727073;
$off-black300: #878887;
$brown400: #6d645e;
$focus-default: #0e59e4;
$border-width: 1px;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-48: 48px;
$spacing-64: 64px;
$spacing-80: 80px;
$spacing-120: 120px;
$spacing-160: 160px;
$spacing-240: 240px;
$spacing-250: 250px;
$spacing-320: 320px;
$spacing-400: 400px;
$spacing-480: 480px;
$border-radius: $spacing-12;
$poppins-font: "Poppins", sans-serif;
$the-seasons: "the-seasons", sans-serif;
$raleway-font: "Raleway", sans-serif;
$font-thin: 100;
$font-xlight: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$style-italic: italic;
$line-height-s: 113%;
$line-height-m: 150%;
