@use "src/app/variables" as *;

.main {
  display: grid;
  justify-content: center;
  height: 100vh;

  .header {
    height: 100px;
  }

  .class_overview {
    position: relative;
    height: 80vh;
    width: 100vw;
    overflow: scroll;

    .week_overview {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: $spacing-64;
      margin: 0 $spacing-24;
      border: solid $border-width $off-black400;

      p {
        text-transform: uppercase;
      }
    }

    .day_section {
      display: flex;
      justify-content: center;
      margin: 0 $spacing-24;
    }
    .mobile_btn_section {
      display: block;
      position: sticky;
      bottom: 0px;
      left: 0;
      width: 100vw;
      height: $spacing-80;
      margin-top: $spacing-16;
      background-color: $off-black400;

      .flex {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $spacing-80;
        width: 100%;
      }
    }
  }

  .footer {
    height: 100px;
  }
}

@media (min-width: 768px) {
  .main {
    .class_overview {
      .week_overview {
        height: $spacing-80;
        margin: 0 $spacing-48;
      }
      .day_section {
        margin: 0 $spacing-48;
      }
      .mobile_btn_section {
        display: none;
      }
    }
  }
}
