@use "src/app/variables" as *;

.main {
  height: 100vh;
  position: relative;
}

.category_select_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: $spacing-64;
  background-color: $off-black400;

  &::after {
    position: absolute;
    right: $spacing-16;
    top: $spacing-20;
    content: "";
    width: $spacing-24;
    height: $spacing-24;
    background-color: $white;
    pointer-events: none;
    clip-path: polygon(0 48%, 48% 48%, 48% 0, 52% 0, 52% 48%, 100% 48%, 100% 52%, 52% 52%, 52% 100%, 48% 100%, 48% 52%, 0 52%);
  }

  .category_select {
    appearance: none;
    background-color: transparent;
    color: $white;
    border: none;
    margin: 0;
    padding-left: $spacing-16;
    width: 100%;
    height: 100%;
  }
}

.class_select_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: $spacing-64;
  background-color: $grey200;

  &::after {
    position: absolute;
    right: $spacing-16;
    top: $spacing-20;
    content: "";
    width: $spacing-24;
    height: $spacing-24;
    background-color: $black;
    pointer-events: none;
    clip-path: polygon(0 48%, 48% 48%, 48% 0, 52% 0, 52% 48%, 100% 48%, 100% 52%, 52% 52%, 52% 100%, 48% 100%, 48% 52%, 0 52%);
  }

  .class_select {
    appearance: none;
    background-color: transparent;
    color: $black;
    border: none;
    margin: 0;
    padding-left: $spacing-16;
    width: 100%;
    height: 100%;
  }
}

.week_overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $spacing-64;
  border: solid $border-width $off-black400;

  p {
    text-transform: uppercase;
  }
}

.day_section {
  margin: 5em;
  display: flex;
}

.class_overview {
  position: relative;
  height: 80vh;
  width: 100vw;
  overflow: scroll;
}

.mobile_btn_section {
  display: block;
  position: sticky;
  bottom: 0px;
  left: 0;
  width: 100vw;
  height: $spacing-80;
  margin-top: $spacing-16;
  background-color: $off-black400;

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $spacing-80;
    width: 100%;
  }
}

.footer {
  height: 100px;
}

@media (min-width: 768px) {
  .week_overview {
    height: $spacing-80;
  }
  .class_overview {
    height: fit-content;
    width: 100vw;
  }
  .mobile_btn_section {
    display: none;
  }
}
